in-toto should check gpg key expiration

**Description of issue or feature request** / **Current behavior**:

Presently, `in-toto` does not appear to check whether a GPG signature should be considered valid if the key has expired.

**Expected behavior**:

`in-toto` should reject a GPG signature if the key has expired.

@trishankatdatadog I think I can tackle this issue. I will need more context about which file I should include the GPG signature check(s) and any supporting advice or documentation. Thanks!

@michizhou You can find functions for public key extraction (from gpg keyrings) and signature verification in the subpackage [in-toto/gpg](https://github.com/in-toto/in-toto/tree/develop/in_toto/gpg).

*Considerations about false positives*
As you will see, we don't necessarily use gpg and gpg keyrings at the time of signature verification. Instead we extract public keys from a gpg keychain and convert them to a format that is understood by our signature verification library (`pyca/cryptography`).

When verifying layout signatures the public key export might happen right before signature verification (see `in-toto-verify ... --gpg <keyid> ...`). Functionary public keys, on the other hand, are (exported and) added to the layout at the time of layout creation.

Once the key is extracted from the gpg keychain it is cut off from any gpg key server updates, such as extending an expiration date.

As a consequence, we might reject a gpg signature, due to an outdated expiration date. @trishankatdatadog, do you think such false positives are an issue? Probably not more than any other updates that can't be propagated to a key after it has been exported.

We should add a warning at the time of exporting a key that informs the caller that the key will be cut off of any updates such as expiration date extensions.

*Instructions*
So here's how I would tackle this issue:
 - add an `expiration_date` field to the gpg public key data structure,
 - assign it when parsing the public key data on a public key export (see RFC4880),
 - (fail or issue warning if the key is already expired)
 - (issue warning that the extracted key can't be subjected to any key server updates)
 - verify key expiration date before signature verification.





@lukpueh I appreciate the context and background, but I am still not quite sure where to start. I would appreciate it if you could give me guidance on how to get the data for the `expiration_date` field and in which file to assign it, as well as how and in which file to implement the rest of your suggested steps.

Sure, here's above list with some pointers:

- add an `expiration_date` field to the gpg public key data structure,
  -> https://github.com/in-toto/in-toto/blob/develop/in_toto/gpg/formats.py#L93
  -> https://github.com/in-toto/in-toto/blob/develop/in_toto/gpg/formats.py#L120
- assign it when parsing the public key data on a public key export (see RFC4880),
  -> https://github.com/in-toto/in-toto/blob/develop/in_toto/gpg/common.py#L39
  -> You will have to read the RFC to figure out how to parse out the expiration date
- (fail or issue warning if the key is already expired)
- (issue warning that the extracted key can't be subjected to any key server updates)
- verify key expiration date before signature verification.
  -> https://github.com/in-toto/in-toto/blob/develop/in_toto/gpg/functions.py#L137

@lukpueh So I have read the RFC, and it seems like we might have to revise our approach to this issue. For version 4 (which is the version we are using for the public key data), the expiration time (time after creation for which key is valid) is no longer stored in the public key packet but instead has been moved to the signature packet of the corresponding key (see Section 5.5.2 of RFC4880). With this in mind, we would have to reconsider the steps you suggested for tackling this issue, as well as whether or not we should even take on this issue at all. Please let me know what you think. Thanks.

@michizhou, thanks for reading up on the RFC. I suggest then that you:
- parse expiration times, at the time of creating a signature, and add it to the signature data structure then (you have to update the signature format instead of the key format in that case). Maybe it's worth to add both key expiration and signature expiration,
- issue a warning at the time of signing,
- maybe also issue a warning whenever a public key is extracted, informing the caller that the extracted key can't be subjected to any key server updates,
- verify key expiration before signature verification.

@lukpueh I have just finished with my implementation of your suggested changes for key verification using expiration dates. Please let me know if you need me to make any additional changes. Thanks!